## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
# 1 способ
male = 0
female = 0
for i in data["sex"]:
    if(i=="Male"):
        male+=1
    if(i=="Female"):
        female+=1
print("Male = ", male)
print("Female = ", female)

# 2 способ
data.groupby("sex")["sex"].count()

# 3 способ
data["sex"].value_counts()

Male =  21790
Female =  10771

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
data_men_only = data[data["sex"] == "Male"]
data_men_only[["age","sex"]].groupby("sex").mean()

            age
sex
Male  39.433547

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
us_native = data[data["native-country"] == "United-States"]
num_us = us_native["native-country"].count()
num_all = data["native-country"].count()
part = round(100*num_us/num_all, 2)
print("Part of US citizens: \n", part, "%")

Part of US citizens:
 89.59 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
big_salary = data[data['salary'] == ">50K"]
small_salary = data[data['salary'] == "<=50K"]
avg_big = round(big_salary['age'].mean(), 2)
avg_small = round(small_salary['age'].mean(), 2)
sko_big = round(big_salary['age'].std(), 2)
sko_small = round(small_salary['age'].std(), 2)
print ("Average age per people with salary >50K: ", avg_big, "\nStandart deviation: ", sko_big)
print ("Average age per people with salary <=50K: ", avg_small, "\nStandart deviation: ", sko_small)

Average age per people with salary >50K:  44.25
Standart deviation:  10.52
Average age per people with salary <=50K:  36.78
Standart deviation:  14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
values = big_salary['education'].unique()
values = values.tolist()
values.sort()
print(values)
high_edu = ['Bachelors', 'Prof-school', 'Assoc-acdm' , 'Assoc-voc' , 'Masters', 'Doctorate']
high_edu.sort()
print(high_edu)
print("Answer: ", values==high_edu)

['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th', 'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad', 'Masters', 'Prof-school', 'Some-college']
['Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'Masters', 'Prof-school']
Answer:  False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
age_race = data[['age', 'race']].groupby('race')
age_race.describe()
#Ответ: 90

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [15]:
marital_status = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']


men = data[data['sex'] == 'Male']
married_men = men[men['marital-status'].isin(marital_status)]
unmarried_men = men[~men['marital-status'].isin(marital_status)]

married = round(100 * (married_men['salary'] == '>50K').mean(), 2)
unmarried = round(100 * (unmarried_men['salary'] == '>50K').mean(), 2)

print('Part of married', married, "%")
print('Part of unmarried', unmarried, "%")

Part of married 44.05 %
Part of unmarried 8.45 %

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
max_hours = data['hours-per-week'].max()
print("Max hours per week:", max_hours)
num_with_max_hours = data[data['hours-per-week'] == max_hours]['hours-per-week'].count()
print("Number of people with max hours-per-week >50K:", num_with_max_hours)
num_with_max_hours_and_salary = data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K' )]['hours-per-week'].count()
print("Percentage of working max hours and having salary mote than 50K:", round(100*num_with_max_hours_and_salary/num_with_max_hours, 2), "%")

Max hours per week: 99
Number of people with max hours-per-week >50K: 85
Percentage of working max hours and having salary mote than 50K: 29.41 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
hpw_small_sal = data[data['salary']=='<=50K'][['native-country', 'hours-per-week']]
hpw_big_sal = data[data['salary']=='>50K'][['native-country', 'hours-per-week' ]]
merged_df = pd.concat([hpw_small_sal, hpw_big_sal]).groupby('native-country').mean()
print(merged_df)

                            hours-per-week
native-country
?                                41.512864
Cambodia                         40.894737
Canada                           40.404959
China                            37.786667
Columbia                         39.067797
Cuba                             39.157895
Dominican-Republic               42.471429
Ecuador                          39.571429
El-Salvador                      36.792453
England                          41.833333
France                           45.068966
Germany                          41.014599
Greece                           44.241379
Guatemala                        39.234375
Haiti                            36.909091
Holand-Netherlands               40.000000
Honduras                         36.307692
Hong                             40.900000
Hungary                          35.615385
India                            41.530000
Iran                             43.976744
Ireland                          42.416667
Italy                            41.602740
Jamaica                          38.592593
Japan                            43.693548
Laos                             40.333333
Mexico                           40.340591
Nicaragua                        36.176471
Outlying-US(Guam-USVI-etc)       41.857143
Peru                             35.387097
Philippines                      39.595960
Poland                           38.333333
Portugal                         41.891892
Puerto-Rico                      38.570175
Scotland                         41.250000
South                            42.412500
Taiwan                           38.882353
Thailand                         45.444444
Trinadad&Tobago                  37.368421
United-States                    40.447755
Vietnam                          37.343284
Yugoslavia                       44.562500

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
labels = ['young', 'adult', 'retiree']
bins = [16, 35, 70, 100]
data['AgeGroup'] = pd.cut(data['age'], bins=bins, right=False, labels=labels, include_lowest=True)
print(data[['age','AgeGroup']])

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
big_salary_by_group = data[data['salary'] == '>50K'].groupby('AgeGroup',  observed = False).count()

max = big_salary_by_group['age'].max()
print('Amount of people in each age group:\n', big_salary_by_group['age'])

popular_age_group_with_big_salary = big_salary_by_group['age'].idxmax()
print('Name of age group with biggest salary:', popular_age_group_with_big_salary)

Amount of people in each age group:
 AgeGroup
young      1488
adult      6240
retiree     113
Name: age, dtype: int64
Name of age group with biggest salary: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
#group_by_occupation = data.groupby('occupation').count()
#print(group_by_occupation['age'])

def filter_func(group):
    mean_age= group['age'].mean() <= 40
    hours = (group['hours-per-week'] >= 5).all()
    return mean_age & hours

filtered_data = data.groupby('occupation').filter(filter_func)

print("Filtered DataFrame:")
print(filtered_data)

Filtered DataFrame:
       age    workclass  fnlwgt     education  education-num  \
442     24  Federal-gov  191073       HS-grad              9
1300    29  Federal-gov  301010  Some-college             10
14613   39  Federal-gov  227597       HS-grad              9
16111   24  Federal-gov  287988     Bachelors             13
18034   34  Federal-gov  172716          12th              8
18644   23  Federal-gov  163870  Some-college             10
18769   30  Federal-gov   76313       HS-grad              9
25799   46  Federal-gov  344415       Masters             14
32316   23  Federal-gov  173851       HS-grad              9

           marital-status    occupation    relationship                race  \
442         Never-married  Armed-Forces       Own-child               White
1300        Never-married  Armed-Forces   Not-in-family               Black
14613       Never-married  Armed-Forces   Not-in-family               White
16111       Never-married  Armed-Forces   Not-in-family               White
18034  Married-civ-spouse  Armed-Forces         Husband               White
18644       Never-married  Armed-Forces  Other-relative               White
18769  Married-civ-spouse  Armed-Forces  Other-relative  Amer-Indian-Eskimo
25799  Married-civ-spouse  Armed-Forces         Husband               White
32316       Never-married  Armed-Forces   Not-in-family               White

        sex  capital-gain  capital-loss  hours-per-week native-country salary  \
442    Male             0             0              40  United-States  <=50K
1300   Male             0             0              60  United-States  <=50K
14613  Male             0             0              50  United-States  <=50K
16111  Male             0             0              40  United-States  <=50K
18034  Male             0             0              40  United-States  <=50K
18644  Male             0             0              40  United-States  <=50K
18769  Male             0             0              48  United-States  <=50K
25799  Male             0          1887              40  United-States   >50K
32316  Male             0             0               8  United-States  <=50K

      AgeGroup
442      young
1300     young
14613    adult
16111    young
18034    young
18644    young
18769    young
25799    adult
32316    young